{% extends "base.html" %}

{% block title %}add_movie_to_category{% endblock %}

{% block content %}
        <form method="POST" action="do_add_movie_to_category">
            <label>Select movie:</label>
            <select required name="movieselected">
              {% for movie in movies %}
              <option value="{{ movie.title }}">{{ movie.title }}</option>
              {% endfor %}
            </select>
          <br>
          <br>
            <label>Select category:</label>
            <select required name="categoryselected">
              {% for category in categories %}
              {% if category.name != "All Movies"%}
              <option value="{{ category.name }}">{{ category.name }}</option>
              {% endif %}
              {% endfor %}
            </select>
          <br>
          <button type="submit">Add Movie</button>
        </form>

{% endblock %}


