{% extends "base.html" %}

{% block title %}category_create{% endblock %}

{% block content %}
    <ul>
    <h2>Existing movie categories</h2>

      {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <ul>
        <h3>Add a category</h3>
        <form method="POST" action="do_create_category">
            <label>Category name:</label>
            <input type="text" name="newname">
        <button type="submit">Add category</button>
        </form>
    </ul>

{% endblock %}