{% extends "base.html" %}

{% block title %}category_delete{% endblock %}

{% block content %}
    <h2>All deletable movie categories</h2>
    <form method="POST" action="do_delete_category">
    <table>
      {% for category in categories %}
            {% if category.name != "All Movies"%}<tr><td>{{ category.name }}</td><td>
                    <button type="submit" name="deleting" value="{{ category.name }}">X</button></td></tr>{% endif%}
        {% endfor %}
    </table>
    </form>

{% endblock %}