{% extends "base.html" %}

{% block title %}{{ category_name }} - Movies{% endblock %}

{% block content %}
    <h2>Movies in {{ category_name }}</h2>
    <ul>
        {% for movie in movies %}
            <li>
                <a href="https://www.imdb.com/find?q={{ movie.title |
                urlencode }}%20({{ movie.release_year | urlencode }})"
                   target="_blank">
                   {{ movie.title }} ({{ movie.release_year }}), by {{ movie.director }}
                </a>
            </li>
        {% endfor %}
        <body>And nothing else</body>
    </ul>
{% endblock %}
