{% extends "base.html" %}

{% block title %}add_movie_to_category{% endblock %}

{% block content %}
        <form method="POST" action="do_combine_categories">
            <label>Select source category:</label>
            <select required name="sourcecategory">
              {% for category in categories %}
              {% if category.name != "All Movies"%}
              <option value="{{ category.name }}">{{ category.name }}</option>
              {% endif %}
              {% endfor %}
            </select>
          <br>
            <label>Select target category:</label>
            <select required name="targetcategory">
              {% for category in categories %}
              {% if category.name != "All Movies"%}
              <option value="{{ category.name }}">{{ category.name }}</option>
              {% endif %}
              {% endfor %}
            </select>
          <br>
          <button type="submit">Combine</button>
        </form>

{% endblock %}