{% extends "base.html" %}

{% block title %}Home - Movie Database{% endblock %}

{% block content %}
    <h2>Welcome to the Movie Database</h2>
    <p>Select an option:</p>
    <ul>
        <li><a href="categories">View Categories</a></li>
        <li><a href="category_create">Create new category</a></li>
        <li><a href="category_delete">Delete category</a></li>
        <li><a href="movie_create">Create new movie</a></li>
        <li><a href="add_movie_to_category">Add movie to category</a></li>
        <li><a href="remove_movie_from_category">Remove movie from category</a></li>
        <li><a href="update_movie_info">Update movie information</a></li>
        <li><a href="combine_categories">Combine categories</a></li>
    </ul>
{% endblock %}