{% extends "base.html" %}

{% block title %}movie_create{% endblock %}

{% block content %}
    <h2>Create a Movie</h2>
        <form method="POST" action="do_create_movie">
          <table>
              <tr><th><label>Title:</label></th><td><input type="text" name="title"></td></tr>
              <tr><th><label>Director:</label></th><td><input type="text" name="director"></td></tr>
              <tr><th><label>Year Created:</label></th><td><input type="text" name="year"></td></tr>
              <tr><td colspan="2"><button type="submit">Add movie</button></td></tr>
          </table>
        </form>

{% endblock %}